name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12","3.13","3.14"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
          cache-dependency-glob: |
            **/pyproject.toml
          version: "latest"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Sync dependencies
        run: uv sync

      - name: Run tests with coverage
        run: uv run coverage run --source=src/qpyconf -m pytest

      - name: Coverage report
        run: uv run coverage report -m

      - name: Generate coverage badge
        run: uv run coverage-badge -o coverage.svg -f
      
      - name: Cleanup
        run: uv run cleanup
